body{
	background: purple;
}

.slider {
	 border: 5px solid #fff;
	 max-width: 1000px;
	 margin: 0 auto;
	 margin-top: 20px;
	 overflow: hidden;
}
 .slider__line {
	 display: flex;
}
 .slider__item {
	 height: 500px;
}
 .slider__item img {
	 max-width: 100%;
	 width: 100%;
	 height: 100%;
}
 